<template>
  <main>
    <h1>Plan A Drive</h1>
    <p>We would help you plan an amazing event. We have vendors, products and all the information you need. All we ask is that you support our impact work.</p>
    <section class="procedure">
      <!-- <h2>How to Organise a Pop-Up Drive</h2> -->
      <img src="../assets/Pop-up drie infographics seteps_V2.png">
      <h1>START HERE</h1>
      <p>You are ready to plan an amazing pop up drive and save lives in your community.</p>
      <v-divider></v-divider>
      <form class="plan" ref="pop_up_form">
        <!-- <p>Step 1: </p> -->
        <v-select :style="{transition: 'all ease-in-out .5s'}" color="#b70303" :class="{ 'show-section': this.formNumber == 1, 'hide-section': this.formNumber != 1 }" v-model="programTheme" :items="items" label="Theme of Program"></v-select>

        <!-- <p>Step 2: </p>  -->
        <v-dialog :style="{transition: 'all ease-in-out .5s'}" ref="dialog" v-model="modal" :return-value.sync="date" persistent lazy full-width width="290px" :class="{ 'show-section': this.formNumber == 2, 'hide-section': this.formNumber != 2 }">
          <v-text-field slot="activator" color="#b70303" v-model="date" label="Event Date" prepend-icon="event" readonly></v-text-field>
          <v-date-picker v-model="date" scrollable color="#b70303">
            <v-spacer></v-spacer>
            <v-btn flat color="#333" @click="modal = false">Cancel</v-btn>
            <v-btn flat color="#b70303" @click="$refs.dialog.save(date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>

        <!-- <p>Step 3: </p> -->
         <v-text-field :style="{transition: 'all ease-in-out .5s'}" v-model="persons" type="number" min="1" label="Estimated Participants" prepend-icon="people" color="#b70303" :class="{ 'show-section': this.formNumber == 3, 'hide-section': this.formNumber != 3 }"></v-text-field>
        <!-- <p>Step 4: </p> -->
         <v-text-field :style="{transition: 'all ease-in-out .5s'}" v-model="email" type="email" label="Contact email" prepend-icon="email" color="#b70303" :class="{ 'show-section': this.formNumber == 4, 'hide-section': this.formNumber != 4 }"></v-text-field>
        <!-- <p>Step 5: </p> -->

        <div class="impact-sections">
          <div :style="{transition: 'all ease-in-out .5s', 'margin-top': '-150px'}" :class="{'show-section': this.formNumber == 5, 'hide-section': this.formNumber != 5}">
            <!-- <h3>Select Impact Support</h3> -->
            <label>
            <input v-model="category" type="radio" name="cart" value="BLOOD TRUST">
            <div class="blood-trust">
              <h3>BLOOD TRUST</h3>
              <!-- <p>Blood Trust by LifeBank is a fund set up to give parents of children who have trouble paying their hospital bills access to blood in emergency situations, free of charge.</p> -->
            </div>
          </label>
          <label>
            <input v-model="category" type="radio" name="cart" value="MOTOR BIKES">
            <div class="motor-bikes">
              <h3>MOTOR BIKES</h3>
              <!-- <p>1 million people who would commit to giving blood twice a year.</p> -->
            </div>
          </label>
          <label>
            <input v-model="category" type="radio" name="cart" value="AIRBANK">
            <div class="airbank">
              <h3>AIRBANK</h3>
              <!-- <p>Aiirbank on a mission to reduce mortality rate in Nigeria by improving the distribution of oxygen across Nigeria.</p> -->
            </div>
          </label>
          <label>
            <input v-model="category" type="radio" name="cart" value="DONOR GIFT">
            <div class="donor-gift">
              <h3>DONOR GIFT</h3>
          <!-- <p>Aiirbank on a mission to reduce mortality rate in Nigeria by improving the distribution of oxygen across Nigeria.</p> -->
            </div>
          </label>
          </div>
        </div>
        <v-select :style="{transition: 'all ease-in-out .5s'}" color="#b70303" :class="{ 'show-section': this.formNumber == 6, 'hide-section': this.formNumber != 6 }" v-model="refreshment" :items="itemSeven" label="Beverage"></v-select>
        <!-- <p>Step 6: </p>  -->
        <!-- <p class="hide-section">Food Estimate</p> -->
        <div :style="{transition: 'all ease-in-out .5s', color: '#000', display: 'flex', 'flex-direction': 'column'}" :class="{'show-section': this.formNumber == 7, 'hide-section': this.formNumber != 7}">
          <!-- <h2 style="margin-top: 20px; color: #b70303;">Yayyy!!!</h2> -->
          <h3 style="color: #b70303">You're almost done</h3>
          <p>Please submit and we'd get back to you shortly.</p>
          <p>Check details of drive and comfirm</p>
          <p style="text-align: left; display: inline"> <strong style="padding-right: 20px;">Theme for the drive: </strong> <em style="text-align: left">{{ programTheme }}</em></p>
          <p style="text-align: left; display: inline"> <strong style="padding-right: 20px;">Date for the drive: </strong> <em style="text-align: left">{{ date }}</em></p>
          <p style="text-align: left; display: inline"> <strong style="padding-right: 20px;">Expected Participants: </strong> <em style="text-align: left">{{ persons }}</em></p>
          <p style="text-align: left; display: inline"> <strong style="padding-right: 20px;">Contact Email: </strong> <em style="text-align: left">{{ email }}</em></p>
          <p style="text-align: left; display: inline"> <strong style="padding-right: 20px;">Category: </strong> <em style="text-align: left">{{ category }}</em></p>
          <p style="text-align: left; display: inline"> <strong style="padding-right: 20px;">Beverage: </strong> <em style="text-align: left">{{ refreshment }}</em></p>
          <p>If you can't submit. Please check for information not provided</p>
        </div>
      </form>
      <div class="btn-section">
          <v-btn flat @click="backBtn()" :disabled="this.formNumber == 1">Back</v-btn>
          <v-btn v-if="checkForm" flat color="#b70303" @click="selectProgramTheme()" :disabled="this.formNumber == 7">Next</v-btn>
          <v-btn flat color="#b70303" @click="alert('Message Sent')" v-if="!checkForm">Submit</v-btn>
        </div>
          <!-- <p v-if="this.formNumber == 4 || checkForm" :style="{color: '#b70303'}">You have some fields not filled yet. Please check again</p> -->
    </section>
  </main>
</template>


<script>
  export default {
    mounted() {
      // console.dir();
      // this.$refs.pop_up_form.children[0].style.backgroundColor = '#ff0';
    },
    data: () => ({
      items: ['Save a Soldier', 'A child Needs Your Help', 'Blood Connects Us All'],
      menu: false,
      modal: false,
      menu2: false,
      programTheme: null,
      category: null,
      date: null,
      persons: null,
      email: null,
      itemSeven: ['We would provide the refreshments', 'Lifebank should handle this'],
      refreshment: null,
      formNumber: 1
    }),
    methods: {
      selectProgramTheme: function() {
        this.formNumber += 1;
      },
      backBtn: function() {
        this.formNumber -= 1;
      }
    },
    computed: {
      canGoBack() {
        if (this.formNumber == 1) {
          return false;
        }
      },
      canGotForward() {
        if (this.formNumber == 7 && this.programTheme == null && this.cartegory == null && this.date == null && this.persons == null && this.email == null && this.itemSeven == null) {
          return false;
        }
      },
      checkForm() {
        if (this.formNumber == 7) {
          if (this.programTheme == null || this.category == null || this.date == null || this.persons == null || this.email == null || this.itemSeven == null) {
            return true;
          }
          else {
            return false;
          }
        }
        return true;
      }
    }
  }
</script>


<style scoped>
  main > h1, main > p {
    padding: 0px 5px;
  }

  .blood-trust {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../assets/Blood-Trust-2.png');
  }

  .motor-bikes {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../assets/motobikesfront.png');
  }

  .airbank{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../assets/Air-Bank_Web-Version-2.png');
  }

  .donor-gift {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../assets/gift-voucher.png');
  }

  input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.impact-sections > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

label div p {
  color: #fff !Important;
}

.btn-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label div {
  cursor: pointer;
  height: 100%;
  padding: 70px 20px !important;
}

/* When the radio button is checked */
label input:checked ~ div {
  /* background-color: #b70303; */
  font-weight: bold;
  background: #b70303;
}

form {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  transition: all ease-in-out 2s;
}

.hide-section {
  opacity: 0;
  position: absolute;
  transform: translateX(1000px);
}

.show-section {
  opacity: 1;
  position: absolute;
  transform: translateX(0);
  width: 100%;
}

  .plan {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .procedure {
    background: #fff;
    margin: 10px 10px 0;
    text-align: center;
    padding: 20px 10px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
  }

  .procedure p, .procedure h1 {
    color: #000;
  }

  .self-service {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../assets/cart-in-supermarket-blurred-from-side_large.jpg');
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: auto;
  }

  .lifebank-food {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../assets/groceries-3d-model-max-obj-fbx.jpg');
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-position: top center;
    margin: auto;
  }

  @media(min-width: 500px) {
    main > h1, main > p {
      padding: 0px 35px;
    }

    .self-service, .lifebank-food {
      width: 200px;
      height: 200px;
    }

    .plan {
      width: 50%;
    }

    .procedure {
      margin: 0px 35px;
    }

    .not-mobile {
      display: block;
    }

    .not-web {
      display: none;
    }

    .steps {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 70px;
    }

    .descp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

   @media(min-width: 1000px) {
    main > h1, main > p {
      padding: 0px 100px;
    }

    .steps {
      padding: 0 100px;
    }

    .procedure {
      margin: 50px 100px 0;
    }
    }
</style>
