<template>
  <main>
    <div class="intro-text">
      <div>
        <h1>Host a Pop-up Drive</h1>
        <p>Every year, thousands of young children, accident victims, cancer patients and pregnant mothers die from Blood shortage. We are partnering with corporate organizations to host Pop-Up Drives to generate 1 million pints of blood.</p>
          <router-link to="/learn-more" style="color: #000; text-decoration: none;" class="my-btn">Learn More</router-link>
      </div>
      <div class="test-div">
      <img src="../assets/Ellipse (4).png" alt="Pop-up drivers">
      </div>
    </div>
    <section class="feature">
      <h3>Why Should We Care?</h3>
      <p><strong>Nigerians lose their lives because the blood they needed was not available whilst in an emergency setting.</strong></p>
      <section class="segments-hold">
        <div class="segments">
          <img src="../assets/Vector (1).png" alt="child icon">
          <p><strong><em>35,000 Children with Malaria</em></strong></p>
        </div>
        <div class="segments">
          <img src="../assets/redblood cell.png" alt="sickle cell icon">
          <p><strong><em>50,000 Sickle Cell</em></strong></p>
        </div>
        <div class="segments">
          <img src="../assets/car-accident.png" alt="car accident icon">
          <p><strong><em>17,801 Accident Victims</em></strong></p>
        </div>
        <div class="segments">
          <img src="../assets/Vector.png" alt="pregnant woman icon">
          <p><strong><em>26,000 Pregnant Women</em></strong></p>
        </div>
      </section>

      <div class="movement">
        <div>
          <h3>THE MOVEMENT TO SAVE LIVES</h3>
          <p>1 million people who would commit to giving blood twice a year.</p>
        </div>
        <div class="sub-movement">
          <img src="../assets/Rectangle (2).png" alt="popup pic">
          <img class="over-pic" src="../assets/Rectangle (1).png" alt="popup pic">
        </div>
      </div>

      <div class="movement">
        <div>
          <h3>WHAT IS POP-UP DRIVE</h3>
          <p>Pop-Up Drive is a fun and engaging replication of a donor’s experience right in your office.</p>
        </div>
        <div class="sub-movement">
          <img src="../assets/Rectangle (2).png" alt="popup pic">
          <img class="over-pic" src="../assets/Rectangle (3).png" alt="popup pic">
        </div>
      </div>
        <div>
          <h3>HOW IT WORKS</h3>
          <img src="../assets/Pop-up drie infographics seteps_V2.png" width="100%">
        </div>
    </section>
    <section class="benefits">
      <div class="partners">
        <h2>Partners</h2>
        <div>
          <img src="../assets/1200px-Diamond_Bank_Logo.jpg" alt="Diamond Bank Logo">
          <img src="../assets/1200px-Oando_logo.svg.png" alt="Oando Logo">
          <img src="../assets/download.png" alt="Cowrywise Logo">
          <img src="../assets/meristem_sl.png" alt="Meristem Logo">
        </div>
      </div>
      <h2>BENEFITS</h2>
      <div>
        <v-toolbar id="my-tool-bar" color="#fff" tabs>
          <v-tabs slot="extension" v-model="currentItem" color="transparent" fixed-tabs slider-color="#b70303">
            <v-tab v-for="item in items" :href="'#tab-' + item.header" :key="item.header">
              {{ item.header }}
            </v-tab>

          </v-tabs>
        </v-toolbar>

        <v-tabs-items v-model="currentItem">
          <v-tab-item v-for="item in items" :id="'tab-' + item.header" :key="item.header">
            <v-card flat>
              <v-card-text>
                <div class="benfits-section">
                  <div>
                    <h3>{{ item.header }}</h3>
                    <p>{{ item.text }}</p>
                  </div>
                  <img :src="item.imgSrc">
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </div>

    </section>
  </main>
</template>

<script>
export default {
  data: () => ({
    currentItem: "tab-Web",
    items: [
      {
        header: "Benefits to Employee",
        text:
          "Employees are busy and can not go give blood. We bring the blood bank to them.",
        imgSrc: "../../static/pop up drive.png"
      },
      {
        header: "Benefits to Brand",
        text:
          "Employees are busy and can not go give blood. We bring the blood bank to them.",
        imgSrc: "../../static/pop up drive.png"
      },
      {
        header: "Benefits to Country",
        text:
          "Employees are busy and can not go give blood. We bring the blood bank to them.",
        imgSrc: "../../static/pop up drive.png"
      }
    ]
  }),

  methods: {
    addItem(item) {
      const removed = this.items.splice(0, 1);
      this.items.push(...this.more.splice(this.more.indexOf(item), 1));
      this.more.push(...removed);
      this.$nextTick(() => {
        this.currentItem = "tab-" + item;
      });
    }
  }
};
</script>
content_copy
Page


<style scoped>
.intro-text {
  padding: 0 10px;
}

.intro-text p {
  padding-bottom: 10px;
  line-height: 27px;
}

.test-div > img {
  display: none;
}

h1 {
  font-size: 35px;
}

.my-btn {
  border-radius: 50px;
  outline: 0;
}

h3 {
  color: #710707;
}

.feature {
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 10px 0;
  z-index: 9999999;
}
.partners div img {
  width: 90%;
}

.partners div {
  padding: 20px 0;
  width: 100%;
  overflow: auto;
  display: flex;
  height: 200px;
}


.segments {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.segments p {
  padding-left: 10px;
  padding-top: 10px;
}

.segments img {
  background: #710707;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px;
}

.movement {
  margin: 70px auto;
}

.sub-movement {
  position: relative;
}

.over-pic {
  position: absolute;
  top: 30%;
  left: 20px;
}

.benefits {
  background: #fff;
  color: #000;
  margin-top: -30px;
}

.benefits h2 {
  text-align: center;
  color: #710707;
  padding: 50px 30px 30px;
}

.benefits h3 {
  padding: 20px 0;
  font-size: 18px;
}

.benefits img {
  width: 100%;
  height: auto;
  transform: scale(0.9);
}

.benefits p {
  margin-bottom: 40px;
}

#my-tool-bar {
  font-family: "Lato", sans-serif;
}

@media (min-width: 500px) {
  main {
    padding: 15vh 0 0;
    z-index: 20;
  }

  .intro-text {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 5%;
  }

  .test-div {
    z-index: -9;
  }

  .test-div > img {
    display: block;
    width: 450px;
    height: 450px;
  }

  .partners div {
    overflow: hidden;
    display: flex;
  }

  .partners div img {
    width: 24%;
  }

  .feature {
    margin: 20px 9% 0;
    margin-top: -10%;
    padding: 40px 50px;
  }

  .segments-hold,
  .movement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .sub-movement {
    margin: 40px 0;
  }

  .over-pic {
    top: 25%;
    left: 15%;
  }

  .feature h3 {
    font-size: 20px;
  }

  .benfits-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20%;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 510px) {
  main {
    padding: 10vh 0 0;
  }

  .intro-text {
    grid-template-columns: 2fr 1fr;
  }

  .test-div > img {
    transform: scale(0.8);
  }

  .feature {
    margin-top: 0;
  }
}
</style>

