<template>
  <main>
    <h1>Our Impact</h1>
    <p>Since our launch in 2016, we have organized over 10 blood drives which have generated over 10,000 pints of blood, saving over 1,800 lives. Below are some of the Pop-Up Drives  beneficiaries stories.</p>
    <section class="catalog">
      <div v-for="bloodDriveSection in bloodDriveSections" :key="bloodDriveSection.imageUrl">
        <div class="img-hold">
          <img :src="bloodDriveSection.imageUrl">
          <h3>{{ bloodDriveSection.imageTxt }}</h3>
        </div>
        <h2>{{ bloodDriveSection.header }}</h2>
        <p>{{ bloodDriveSection.content }}</p>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  data () {
    return {
      bloodDriveSections : [
        {
          imageUrl: '../../static/woman in farm.png',
          header: 'Haemorrhage during Pregnanacy',
          imageTxt: 'Sola Ali',
          content: 'LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low technology high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.'
        },
        {
          imageUrl: '../../static/straight face.png',
          header: 'Cured from Malaria',
          imageTxt: 'Crystal Nkoli',
          content: 'LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low technology high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.'
        },
        {
          imageUrl: '../../static/mid wife pic.png',
          header: 'Haemorrhage during Pregnanacy',
          imageTxt: 'Mrs Aguyi',
          content: 'LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low technology high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.'
        },
        {
          imageUrl: '../../static/smiling child.png',
          header: 'Haemorrhage during Pregnanacy',
          imageTxt: 'Halimat',
          content: 'LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low technology high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.'
        },
        {
          imageUrl: '../../static/baby.png',
          header: 'Haemorrhage during Pregnanacy',
          imageTxt: 'Baby Joyce',
          content: 'LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low technology high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.'
        },
        {
          imageUrl: '../../static/friends.png',
          header: 'Haemorrhage during Pregnanacy',
          imageTxt: 'Stacy Jack',
          content: 'LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low technology high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.'
        }
      ]
    }
  }
}
</script>


<style scoped>
  main {
    background: #fcfcfc;
    color: #000;
    padding: 100px 10px 50px;
  }

  .catalog {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .catalog h2 {
    margin: 10px 0;
  }

  .img-hold {
    position: relative;
  }

  .img-hold h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    color: #fff;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
    margin-top: 10px;
  }

  @media(min-width: 500px) {
    .catalog {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(min-width: 1000px) {
    main {
      padding: 150px 5% 50px;
    }

    .catalog {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

</style>
