<template>
  <v-app>
    <pop-up-drive-header ref="test"></pop-up-drive-header>
    <router-view></router-view>
    <div class="scroll-catch"></div>
    <pop-up-drive-footer></pop-up-drive-footer>
  </v-app>
</template>

<script>
export default {
  mounted() {
    // Grab contact element tag
    this.contactClick = this.$refs.test.$refs.navlist.lastChild;
    // Move to targeted contact section
    this.contactClick.addEventListener('click', () => {
      document.querySelector('.scroll-catch').scrollIntoView({
        behavior: 'smooth'
      });
      // window.scrollTo({top: document.body.scrollHeight - 1200, left: 0, behavior: 'smooth'});
    });
  },
  data() {
    return {
      contactClick: ''
    }
  }
}
</script>


<style>
.my-btn {
  background: #fff;
  color: #000;
  border-radius: 10px;
  width: 150px;
  padding: 15px 30px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 17px;
}

/* * i{ font-family: 'Material Icons'; } */


main {
  width: 100%;
  background: linear-gradient(#b70303, #660808);
  color: #fff;
  padding: 15vh 0 0;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 19px;
}
h1, h2, h3, h4 {
  font-family: "Comfortaa", sans-serif;
}

h1 {
  margin-bottom: 10px;
}
</style>

